# Dataset videos
/dataset/qv_pipe_dataset/track1_raw_video
/dataset/qv_pipe_dataset/**/*.json

# IDE files
/.idea

# Python cache
__pycache__

# Huge model files
*.pth

# Neptune cache
.neptune

# Execution files
/execution*
